<section id="headline" class="hero is-bold is-info" style="min-height: 500px;">
    <div class="container">
      <h1 class="title" style="margin-top: 30px;">Welcome to Moviebase</h1>
      <h2 class="subtitle">
        Having difficulties <strong>choosing</strong> a movie for tonight's movie night? No Problem! Here you can get a movie suggestion with no charge!
      </h2>
      <div class="container has-text-centered" style="margin-top: 150px;">
        <button class="button is-light is-large" onclick="showSettings()">ready</button>
      </div>
    </div>
</section>

<section id="settings" class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
            <section class="section">
                <%= form_with(url: "/preferences", method: "post") do %>
                <h1 class="title">You can select your preferred genre's here:</h1>
                <h2><button class="check button is-success is-outlined" onclick="selectAll()">Un/Select</button></h2>
                <br>

                <div class="columns">
                    <div class="column is-half">
                        <div class="field">
                            <%= check_box_tag('Action', @prefs['Action'], @prefs['Action'], {class: 'switch is-rounded is-success'}) %>
                          <label for="Action">Action</label>
                        </div>
                        <div class="field">
                          <%= check_box_tag 'Adventure', @prefs['Adventure'], @prefs['Adventure'], {class: 'switch is-rounded is-success'} %>
                          <label for="Adventure">Adventure</label>
                        </div>
                        <div class="field">
                          <%= check_box_tag 'Animation', @prefs['Animation'], @prefs['Animation'], {class: 'switch is-rounded is-success'} %>
                          <label for="Animation">Animation</label>
                        </div>
                        <div class="field">
                          <%= check_box_tag 'Comedy', @prefs['Comedy'], @prefs['Comedy'], {class: 'switch is-rounded is-success'} %>
                          <label for="Comedy">Comedy</label>
                        </div>
                        <div class="field">
                          <%= check_box_tag 'Crime', @prefs['Crime'], @prefs['Crime'], {class: 'switch is-rounded is-success'} %>
                          <label for="Crime">Concert Performance</label>
                        </div>
                        <div class="field">
                          <%= check_box_tag 'Documentary', @prefs['Documentary'], @prefs['Documentary'], {class: 'switch is-rounded is-success'} %>
                          <label for="Documentary">Documentary</label>
                        </div>
                        <div class="field">
                          <%= check_box_tag 'Drama', @prefs['Drama'], @prefs['Drama'], {class: 'switch is-rounded is-success'} %>
                          <label for="Drama">Drama</label>
                        </div>
                        <div class="field">
                          <%= check_box_tag 'History', @prefs['History'], @prefs['History'], {class: 'switch is-rounded is-success'} %>
                          <label for="History">History</label>
                        </div>
                        
                        <div class="field">
                          <%= check_box_tag 'War', @prefs['War'], @prefs['War'], {class: 'switch is-rounded is-success'} %>
                          <label for="War">War</label>
                        </div>

                    </div>
                    <div class="column is-half">
                        <div class="field">
                          <%= check_box_tag 'Family', @prefs['Family'], @prefs['Family'], {class: 'switch is-rounded is-success'} %>
                          <label for="Family">Family</label>
                        </div>
                        <div class="field">
                          <%= check_box_tag 'Fantasy', @prefs['Fantasy'], @prefs['Fantasy'], {class: 'switch is-rounded is-success'} %>
                          <label for="Fantasy">Fantasy</label>
                        </div>
                        <div class="field">
                          <%= check_box_tag 'Horror', @prefs['Horror'], @prefs['Horror'], {class: 'switch is-rounded is-success'} %>
                          <label for="Horror">Horror</label>
                        </div>
                        <div class="field">
                          <%= check_box_tag 'Music', @prefs['Music'], @prefs['Music'], {class: 'switch is-rounded is-success'} %>
                          <label for="Music">Music</label>
                        </div>
                        <div class="field">
                          <%= check_box_tag 'Romance', @prefs['Romance'], @prefs['Romance'], {class: 'switch is-rounded is-success'} %>
                          <label for="Romance">Romance</label>
                        </div>
                        <div class="field">
                          <%= check_box_tag 'Thriller', @prefs['Thriller'], @prefs['Thriller'], {class: 'switch is-rounded is-success'} %>
                          <label for="Thriller">Thriller</label>
                        </div>
                        
                        <div class="field">
                          <%= check_box_tag 'Western', @prefs['Western'], @prefs['Western'], {class: 'switch is-rounded is-success'} %>
                          <label for="Western">Western</label>
                        </div>
                        <%= submit_tag("Save preferences", :class => "button is-link is-rounded" ) %>
                    </div>
                </div>
                <button class="button is-success is-fullwidth" onclick="showMovie()">Get a movie suggestion</button>
                <% end %>

            </section>


        </div>
        <div class="is-divider-vertical" data-content="Movie"></div>
        <div class="column is-one-third">
            <div class="card" id="movie_card">
                <div class="card-image">
                    <figure class="image is-2by3">
                        <img id="movie_post_url" src=""></img>
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                        </div>
                        <div class="media-content">
                            <p id="movie_title" class="title is-4"></p>
                            <p id="movie_imdbid" class="subtitle is-6">Rating: </p>
                            <progress id="movie_progress" class="progress is-success" value="60" max="100"></progress>
                        </div>
                    </div>
                    <div class="content">
                        <p id="movie_plot"></p>
                        <br>
                        <time id="movie_released" datetime="2016-1-1"></time>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $('document').ready($('#movie_card').hide())
    $('document').ready($('#settings').hide())
    function selectAll(){
        if($(':checkbox')[0]["checked"]===true){
            $(':checkbox').prop('checked', false);
        }
        else{
            $(':checkbox').prop('checked', true);
        }       
    }

    function showMovie(){
        $('#movie_card').hide()
        $.get( "/random_movie", function(data) {
            if(data.movie){
                $('#movie_post_url').attr("src", "")
                $('#movie_progress').attr("value", "")

                if(data.movie.vote_average > 8.2){
                    $('#movie_progress').attr("class", "progress is-success")
                }
                else {
                    $('#movie_progress').attr("class", "progress is-warning")
                }


                $('#movie_post_url').attr("src", data.movie.poster)
                $('#movie_title').text(data.movie.title)
                $('#movie_imdbid').text("Rating: " + data.movie.vote_average + "/10")
                $('#movie_progress').attr("value", data.movie.vote_average*10)
                $('#movie_released').text("Released: "+data.movie.released)
                $('#movie_plot').text("Plot: "+data.movie.plot)
                $('#movie_card').slideDown(1260)
            }
        });
    }

    function showSettings(){
        $('#settings').show();

        $('html, body').animate({
            scrollTop: $("#settings").offset().top
        }, 1000);
    }




</script>