
<section class="section">
    <div class="container">
      <h1 class="title">Welcome to Moviebase</h1>
      <h2 class="subtitle">
        Having difficulties <strong>choosing</strong> a movie for tonight's movie night? <br> No Problem! Here you can get a movie suggestion with no charge!
      </h2>
    </div>
</section>
<section class="section">
    <div class="container">
      <div class="columns">
        <% if @movie %>
          <div class="column is-one-quarter">
            <div class="card">
              <div class="card-image">
                <figure class="image is-2by3">
                  <img src=<%= @movie.poster %>></img>
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                  </div>
                  <div class="media-content">
                    <p class="title is-4"><%= @movie.title %></p>
                    <p class="subtitle is-6">imdbID: <%= @movie.imdbid %></p>
                  </div>
                </div>

                <div class="content">Plot: <a>@bulmaio</a>.
                  <a href="#">#css</a> <a href="#">#responsive</a>
                  <br>
                  Released: 
                  <time datetime="2016-1-1"><%= @movie.released %></time>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <div class="column is-two-third">
            <%= form_with(url: "/preferences", method: "post") do %>
            <h1 class="title">You can select your preferred genre's here:</h1>
            <h2><button class="check button is-success is-outlined" onclick="select_all()">Un/Select</button></h2>
            <br>
            <div class="columns">
                <div class="column is-half">
                    <div class="field">
                        <%= check_box_tag('Action', @prefs['Action'], @prefs['Action'], {class: 'switch is-rounded is-success'}) %>
                      <label for="Action">Action</label>
                    </div>
                    <div class="field">
                      <%= check_box_tag 'Adventure', @prefs['Adventure'], @prefs['Adventure'], {class: 'switch is-rounded is-success'} %>
                      <label for="Adventure">Adventure</label>
                    </div>
                    <div class="field">
                      <%= check_box_tag 'Black_comedy', @prefs['Black_comedy'], @prefs['Black_comedy'], {class: 'switch is-rounded is-success'} %>
                      <label for="Black_comedy">Black Comedy</label>
                    </div>
                    <div class="field">
                      <%= check_box_tag 'Comedy', @prefs['Comedy'], @prefs['Comedy'], {class: 'switch is-rounded is-success'} %>
                      <label for="Comedy">Comedy</label>
                    </div>
                    <div class="field">
                      <%= check_box_tag 'Concert_performance', @prefs['Concert_performance'], @prefs['Concert_performance'], {class: 'switch is-rounded is-success'} %>
                      <label for="Concert_performance">Concert Performance</label>
                    </div>
                    <div class="field">
                      <%= check_box_tag 'Documentary', @prefs['Documentary'], @prefs['Documentary'], {class: 'switch is-rounded is-success'} %>
                      <label for="Documentary">Documentary</label>
                    </div>
                    <div class="field">
                      <%= check_box_tag 'Drama', @prefs['Drama'], @prefs['Drama'], {class: 'switch is-rounded is-success'} %>
                      <label for="Drama">Drama</label>
                    </div>

                </div>
                <div class="column is-half">
                    <div class="field">
                      <%= check_box_tag 'Educational', @prefs['Educational'], @prefs['Educational'], {class: 'switch is-rounded is-success'} %>
                      <label for="Educational">Educational</label>
                    </div>
                    <div class="field">
                      <%= check_box_tag 'Horror', @prefs['Horror'], @prefs['Horror'], {class: 'switch is-rounded is-success'} %>
                      <label for="Horror">Horror</label>
                    </div>
                    <div class="field">
                      <%= check_box_tag 'Musical', @prefs['Musical'], @prefs['Musical'], {class: 'switch is-rounded is-success'} %>
                      <label for="Musical">Musical</label>
                    </div>
                    <div class="field">
                      <%= check_box_tag 'Romantic_comedy', @prefs['Romantic_comedy'], @prefs['Romantic_comedy'], {class: 'switch is-rounded is-success'} %>
                      <label for="Romantic_comedy">Romantic Comedy</label>
                    </div>
                    <div class="field">
                      <%= check_box_tag 'Thriller', @prefs['Thriller'], @prefs['Thriller'], {class: 'switch is-rounded is-success'} %>
                      <label for="Thriller">Thriller</label>
                    </div>
                    <div class="field">
                      <%= check_box_tag 'Western', @prefs['Western'], @prefs['Western'], {class: 'switch is-rounded is-success'} %>
                      <label for="Western">Western</label>
                    </div>
                    
                    <%= submit_tag("Save preferences", :class => "button is-link is-rounded" ) %>
                </div>

            </div>
            <%= button_to "Get random movie", {}, {class: "button is-success is-fullwidth"} %>
          </div>

          <% end %>

      </div>
      
        
      
    </div>
</section>
<section class="section">
    <div class="container">
        
      
    </div>
</section>
<script type="text/javascript">
    function select_all(){
        if($(':checkbox')[0]["checked"]===true){
            $(':checkbox').prop('checked', false);
        }
        else{
            $(':checkbox').prop('checked', true);
        }
            
    }




</script>