<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>RailsMoviebase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar is-white" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <div class="navbar-item">
          
            <img src="<%= image_path('MOVIEBASE.png') %>">
          
        </div>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Home
          </a>

          <a class="navbar-item" href="/declaration">
            Declaration
          </a>
        </div>

        <div class="navbar-end">
            <% if user_signed_in? %>
            <div class="navbar-item">
              Logged in as <%= current_user.email %>
            </div>
            <div class="navbar-item">
            <div class="buttons">
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'button is-dark' %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'button is-light'  %>
            </div>
            </div>
            <% else %>
            <div class="navbar-item">
            <div class="buttons">
              <%= link_to "Sign up", new_user_registration_path, :class => 'button is-info'  %> 
              <%= link_to "Login", new_user_session_path, :class => 'button is-light'  %>
            </div>
            </div>
            <% end %>
          
            
          </div>
        </div>
      </div>
    </nav>
    
    <%= yield %>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Moviebase</strong> by <a href="https://www.linkedin.com/in/reinhard-scheuerle-707348a8/">Reinhard Scheuerle</a>. All suggested movies are provided by <a href="https://www.themoviedb.org/">www.themoviedb.org</a>.
        </p>
      </div>
    </footer>
  </body>
  <script type="text/javascript">
    $(document).ready(function() {

  // Check for click events on the navbar burger icon
  $(".navbar-burger").click(function() {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");

  });
});</script>
</html>
